In [ ]:
#WAP to create a series of data & display them using pandas.

import pandas as pd
data = pd.Series(['satya', 'sootar', 'omm'], index = [1,2,3])
print(data)

1     satya
2    sootar
3       omm
dtype: object

In [5]:
#Create a dataframe containing data and display them using students and display them

df = pd.DataFrame({"Name":["Satya", "Sootar", "Omm"],
                   "Age": [18, 19, 20],
                   "Phone":[1234567890, 98654321, 34245325]})
print(df)

     Name  Age       Phone
0   Satya   18  1234567890
1  Sootar   19    98654321
2     Omm   20    34245325

In [ ]:
#WAP to convert a dataframe to csv file and display the contents of the file.

df = pd.DataFrame({"Name":["Satya", "Sootar", "Omm"],
                   "Age": [18, 19, 20],
                   "Phone":[1234567890, 98654321, 34245325]})

df.to_csv("/home/satyasootar/Desktop/5th sem AIML/18-8-25/Student.csv")
k = pd.read_csv("/home/satyasootar/Desktop/5th sem AIML/18-8-25/Student.csv")
print(k)

   Unnamed: 0    Name  Age       Phone
0           0   Satya   18  1234567890
1           1  Sootar   19    98654321
2           2     Omm   20    34245325

In [ ]:
#WAP to create a excel file of 10 students with data for the following fields - Name, Age, Branch, Roll, Redg, Phone no.

data = pd.read_csv("/home/satyasootar/Desktop/5th sem AIML/18-8-25/data.csv")
print

    Name  Age Branch  Roll Registration No    Phone No
0   Amit   20    CSE   101      REG2025001  9876543210
1   Riya   21    ECE   102      REG2025002  9123456780
2  Soham   22     ME   103      REG2025003  9988776655
3  Priya   20    CSE   104      REG2025004  9112233445
4  Karan   23     EE   105      REG2025005  9876512345
5  Sneha   21    ECE   106      REG2025006  9090909090
6  Rahul   22     ME   107      REG2025007  9123456712
7   Isha   20    CSE   108      REG2025008  9988776622
8  Ankit   23     EE   109      REG2025009  9112233499
9   Tina   21    CSE   110      REG2025010  9876598765